{% extends('::layout/layout_admin.html.twig') %}
{% block body %}
<div class="wrapper">
    <div class="container">
        <div class="row">
            {% include '::layout/navigation_profil_admin.html.twig' %}
            <div class="span9">
                <div class="content">
                    <div class="btn-controls">
                        <div class="btn-box-row row-fluid">
                            <a href="#" class="btn-box big span4"><i class="icon-random"></i><b>65%</b>
                                <p class="text-muted">Utilisateurs</p>
                            </a>
                            <a href="#" class="btn-box big span4"><i class="icon-folder-close"></i><b>15</b>
                                <p class="text-muted"> Projets</p>
                            </a>
                            <a href="#" class="btn-box big span4"><i class="icon-money"></i><b>15,152</b>
                                <p class="text-muted">Offres</p>
                            </a>
                        </div>
                        <div class="btn-box-row row-fluid">
                            <div class="span8">
                                {% render(controller('VworkitBundle:StatProjet:Statprojet')) %}
                            </div>
                            
                            <ul class="widget widget-usage unstyled span4">
                                <li>
                                    <p>
                                        <strong>Windows 8</strong> <span class="pull-right small muted">78%</span>
                                    </p>
                                    <div class="progress tight">
                                        <div class="bar" style="width: 78%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>
                                        <strong>Mac</strong> <span class="pull-right small muted">56%</span>
                                    </p>
                                    <div class="progress tight">
                                        <div class="bar bar-success" style="width: 56%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>
                                        <strong>Linux</strong> <span class="pull-right small muted">44%</span>
                                    </p>
                                    <div class="progress tight">
                                        <div class="bar bar-warning" style="width: 44%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>
                                        <strong>iPhone</strong> <span class="pull-right small muted">67%</span>
                                    </p>
                                    <div class="progress tight">
                                        <div class="bar bar-danger" style="width: 67%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% render(controller('VworkitBundle:Stat:Stat')) %}
{% render(controller('VworkitBundle:StatDate:Statdate')) %}


{% endblock %}
