<!-- carousel -->
    <div class="container">
    <div class="row">
        <div class="col-md-12">
                <div id="Carousel" class="carousel slide">
                 
                
                 
                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                <div class="item active">
                    <div class="row">
                        {% for entity in entities %}
                        <div class="col-md-3">
                            <a href="#" class="thumbnail">
                                <div class="caption">
                                    d
                                </div>
                                <img src="{{ asset('uploads/img/1.jpeg') }}" alt="Image" style="max-width:100%;">
                            </a>
                        </div>
                        {% endfor %}
                    </div><!--.row-->
                </div><!--.item-->
                <!--.item-->
                 
                </div><!--.carousel-inner-->
                  
                </div><!--.Carousel-->
                 
        </div>
    </div>
</div><!--.container-->