{% block body %}
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Projet à la une</b></div>
            <div class="panel-body">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="{{ asset('img/hayfa.jpg') }}" alt="..." style="width:50px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            ...
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
