<div class="col-xs-6">    
                                    <label class="autre"> Niveau de recommandation  </label>

                                    <a data-placement="top" data-toggle="tooltip" data-original-title="Entrer votre nom">
                                        {{ form_widget(form.rank) }}
                                    </a>
                                    <br>
                                </div>
                                <div class="col-xs-6">    
                                    <label class="autre"> Ajouter votre commentaire  </label>
                                    <a data-placement="top" data-toggle="tooltip" data-original-title="Entrer votre nom">
                                        {{ form_widget(form.descriptionRecommandation) }}
                                    </a>
                                    <br>
                                </div>
                                
<script type="text/javascript" src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mainRecom.js') }}"></script>