{% extends('::layout/layout.html.twig') %}
{% block body %}

    <div class="signup">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center"><h5 class="autre"><i class="glyphicon glyphicon-download-alt" style="color: black"></i>&nbsp;Publier une offre d'emploi</h5></div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center"><h5 class="autre"><i class="glyphicon glyphicon-bullhorn" style="color: black"></i>&nbsp;Récruter des nouvelles compétences</h5></div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
