<form action="{{ path('rechercheProjets') }}" method="POST">
    
    <div class="form-search search-only">
    <i class="search-icon glyphicon glyphicon-search" ></i>
    {{ form(form.recherche) }}

</div>
</form>
